.fitness {
  background: url("../img/mainBg.jpg") no-repeat 10%;
  background-size: cover;
  color: white;
  height: 658px;
  padding: 51px 0;
  position: relative;

  @media screen and (max-width: 1365px) {
    height: 554px;
    padding: 82px 0;
  }

  @media screen and (max-width: 767px) {
    height: 491px;
  }
}

.fitness-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 1160px;

  @media screen and (max-width: 1365px) {
    width: 678px;
  }

  @media screen and (max-width: 767px) {
    width: 290px;
  }
}

.fitness__info {
  flex-basis: 350px;
  padding-top: 113px;
  position: relative;
  text-align: right;

  @media screen and (max-width: 1365px) {
    flex-basis: 280px;
    padding-top: 51px;
  }

  @media screen and (max-width: 767px) {
    flex: 100%;
    padding-top: 29px;
  }
}

.fitness__city {
  font-family: "BebasNeue";
  font-size: 49px;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  @media screen and (max-width: 1365px) {
    font-size: 34px;
  }

  @media screen and (max-width: 767px) {
    font-size: 28px;
  }
}

.fitness__title {
  font-family: "BebasNeue";
  font-size: 112px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1;
  margin-top: 7px;
  text-transform: uppercase;

  @media screen and (max-width: 1365px) {
    font-size: 88px;
    margin-top: 1px;
  }

  @media screen and (max-width: 767px) {
    font-size: 81px;
    margin-top: 6px;
  }
}

.fitness__activities {
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  right: 264px;
  top: 305px;
  width: 120px;

  @media screen and (max-width: 1365px) {
    right: 211px;
    top: 187px;
  }

  @media screen and (max-width: 767px) {
    right: 178px;
    top: 151px;
  }
}

.fitness__buy {
  border: 5px solid white;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 53px;
  margin-top: 52px;
  text-align: center;
  text-transform: uppercase;
  width: 232px;

  @media screen and (max-width: 1365px) {
    margin-top: 39px;
    width: 185px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 40px;
    width: 100%;
  }
}

.fitness__banner {
  background-image: url("../img/mainBanner.jpg");
  background-size: cover;
  height: 556px;
  margin-right: 200px;
  margin-left: 64px;
  width: 500px;
  // & img {
  //   height: 556px;
  // }

  @media screen and (max-width: 1365px) {
    background-position: 45%;
    height: 390px;
    margin-right: 0;
    margin-left: 30px;
    width: 324px;

    // & img {
    //   height: 390px;
    // }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.fitness__social {
  bottom: 93px;
  font-size: 12px;
  position: absolute;
  right: 103px;
  text-align: end;
  & li {
    margin-top: 20px;
  }

  @media screen and (max-width: 1365px) {
    display: none;
  }
}
