.fitness {
  background: url("../img/mainBg.jpg") no-repeat 10%;
  background-size: cover;
  color: white;
  height: 658px;
  padding: 51px 0;

  @media screen and (max-width: 1365px) {
    height: 554px;
    padding: 82px 0;
  }

  @media screen and (max-width: 767px) {
    height: 491px;
  }
}

.fitness-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.fitness__info {
  flex-basis: 350px;
  padding-top: 113px;
  position: relative;
  text-align: right;

  @media screen and (max-width: 1365px) {
    flex-basis: 280px;
    padding-top: 51px;
  }

  @media screen and (max-width: 767px) {
    flex: 100%;
    padding-top: 29px;
  }
}

.fitness__city {
  font-family: "BebasNeue";
  font-size: 49px;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  @media screen and (max-width: 1365px) {
    font-size: 34px;
  }

  @media screen and (max-width: 767px) {
    font-size: 28px;
  }
}

.fitness__title {
  font-family: "BebasNeue";
  font-size: 112px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1;
  margin-top: 7px;
  text-transform: uppercase;

  @media screen and (max-width: 1365px) {
    font-size: 88px;
    margin-top: 1px;
  }

  @media screen and (max-width: 767px) {
    font-size: 81px;
    margin-top: 6px;
  }
}

.fitness__activities {
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  right: 264px;
  top: 305px;
  width: 120px;

  @media screen and (max-width: 1365px) {
    right: 211px;
    top: 187px;
  }

  @media screen and (max-width: 767px) {
    right: 178px;
    top: 151px;
  }
}

.fitness__buy {
  border: 5px solid white;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 53px;
  margin-top: 52px;
  text-align: center;
  text-transform: uppercase;
  width: 232px;

  @media screen and (max-width: 1365px) {
    margin-top: 39px;
    width: 185px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 40px;
    width: 100%;
  }
}

.fitness__banner {
  background-image: url("../img/mainBanner.jpg");
  background-size: cover;
  height: 556px;
  margin-right: 200px;
  margin-left: 64px;
  width: 500px;
  // & img {
  //   height: 556px;
  // }

  @media screen and (max-width: 1365px) {
    background-position: 45%;
    height: 390px;
    margin-right: 0;
    margin-left: 30px;
    width: 324px;

    // & img {
    //   height: 390px;
    // }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.fitness__social {
  bottom: 42px;
  font-size: 12px;
  position: absolute;
  right: 0;
  text-align: end;
  & li {
    margin-top: 20px;
  }

  @media screen and (max-width: 1365px) {
    display: none;
  }
}

.gym > .container {
  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

.gym-wrapper {
  display: flex;
  padding: 120px 0;

  @media screen and (max-width: 1365px) {
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 70px 0;
  }
}

.gym__info {
  line-height: 1.5;
  margin: 47px 85px 0 auto;
  max-width: 355px;

  @media screen and (max-width: 1365px) {
    margin: 0;
    min-width: 502px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    margin: 0;
    min-width: 290px;
    max-width: 290px;
    text-align: left;
  }
}

.gym__square {
  font-size: 18px;
  margin-top: 8px;

  @media screen and (max-width: 767px) {
    margin-top: 5px;
  }
}

.gym__description {
  margin-bottom: 42px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 300;

  & p:not(:first-child) {
    margin-top: 7px;
  }

  @media screen and (max-width: 1365px) {
    margin-top: 35px;

    & p:not(:first-child) {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    margin-top: 25px;
    width: 258px;
  }
}

.gym__photo {
  height: 401px;
  width: 660px;

  @media screen and (max-width: 1365px) {
    height: 376px;
    width: 678px;
  }

  @media screen and (max-width: 767px) {
    height: 313px;
    width: 320px;
  }
}

.gym__video {
  height: 228px;
  margin-left: -63px;
  margin-top: -113px;
  width: 364px;

  @media screen and (max-width: 1365px) {
    height: 167px;
    margin: -115px auto 0;
    width: 266px;
  }

  @media screen and (max-width: 767px) {
    height: 167px;
    margin: 40px 0;
    width: 320px;
  }

  & video {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
  }
}

.abonement {
  background-color: #f8f9fc;
  background-repeat: no-repeat;
  & > .container {
    background-image: url("../img/abonementsBg-lg.png");

    @media screen and (max-width: 1365px) {
      background-image: url("../img/abonementsBg-md.png");
    }

    @media screen and (max-width: 767px) {
      background-image: url("../img/abonementsBg-sm.png");
    }
  }
}

.abonement-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  width: 100%;

  @media screen and (max-width: 1365px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 70px 0;
  }
}

.abonement__months {
  border-bottom: 2px solid #78787833;
  color: #10265480;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  line-height: 1.5;
  margin-top: 33px;
  width: 341px;

  @media screen and (max-width: 1365px) {
    font-size: 18px;
    margin-top: 29px;
    width: 332px;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    margin-top: 21px;
    width: 100%;
  }
}

.abonement__month {
  padding-bottom: 11px;

  @media screen and (max-width: 767px) {
    padding-bottom: 12px;
  }

  & > label {
    position: relative;
    padding-right: 2px;

    &::after {
      background-color: #d10a42;
      bottom: -16px;
      content: "";
      display: none;
      height: 2px;
      position: absolute;
      width: 100%;

      @media screen and (max-width: 767px) {
        bottom: -17px;
      }
    }
  }

  & > input {
    display: none;

    &:checked + label {
      color: $primary;

      &::after {
        display: block;
      }
    }
  }
}

.abonement__plans {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  width: 100%;

  @media screen and (max-width: 1365px) {
    flex-direction: column;
    margin-top: 45px;
    width: 442px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 35px;
    width: 100%;
  }
}

.abonement__plan {
  background-color: #92140fc5;
  background-color: transparent;
  height: 448px;
  padding: 7px;
  text-align: center;
  width: 360px;

  &:hover {
    background: linear-gradient(135deg, #ed0233 17.6%, #003eb7 95.31%);
  }

  @media screen and (max-width: 1365px) {
    width: 100%;

    & + & {
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    height: 384px;

    & + & {
      margin-top: 35px;
    }
  }
}

.plan-wrapper {
  background-color: white;
  padding: 61px 69px;

  @media screen and (max-width: 1365px) {
    padding-left: 111px;
    padding-right: 111px;
  }

  @media screen and (max-width: 767px) {
    padding: 48px 35px;
  }
}

.plan__title {
  font-size: 26px;
  margin-top: -7px;

  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

.plan__time {
  font-size: 16px;
  margin-top: 13px;
}

.plan__price {
  font-size: 60px;
  margin-top: 79px;
  position: relative;

  &::before {
    bottom: 0px;
    content: attr(data-value);
    color: #e8e8e8;
    display: block;
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
  }

  & > span {
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-top: 66px;
    & > span {
      padding-left: 7px;
    }

    &::before {
      font-size: 80px;
    }
  }
}

.plan__price--value {
  font-weight: bold;
}

.plan__buy {
  background-clip: border-box;
  border: $primary 2px solid;
  display: block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 61px;
  margin-top: 45px;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    background-position: cover;
    background-repeat: no-repeat;
    // background-clip: border-box;
    border-color: transparent;
    color: white;
  }

  @media screen and (max-width: 767px) {
    margin-top: 38px;
  }
}
