%cell--bordered {
  border: 2px solid $primary;
}

%cell--hovered {
  @extend %cell--bordered;
  border-color: #ed0233;
  color: #ed0233;
}

%th {
  @extend %cell--bordered;
  background-color: white;
}

%th--covered {
  @extend %cell--hovered;
  background-color: #ed0233;
  color: white;
}

.timetable {
  margin: 120px 0;

  @media screen and (max-width: 1365px) {
    margin: 80px 0;
  }

  @media screen and (max-width: 767px) {
    margin: 70px 0;
  }

  &__header {
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 1365px) {
      margin-bottom: 40px;
    }
  }

  &__table {
    &-container {
      overflow: hidden;
      position: relative;
      width: 100%;

      @media screen and (max-width: 1365px) {
        padding-left: 70px;
      }

      @media screen and (max-width: 767px) {
        padding-left: 0;
      }
    }

    border-collapse: collapse;
    font-size: 18px;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__row,
  &__cell {
    height: 110px;

    @media screen and (max-width: 1365px) {
      height: 108px;
    }

    @media screen and (max-width: 767px) {
      height: 80px;
    }
  }
  &__row--head,
  &__cell--day,
  &__cell--corner,
  &__toggle {
    height: 67px;

    @media screen and (max-width: 1365px) {
      height: 65px;
    }

    @media screen and (max-width: 767px) {
      height: 60px;
    }
  }

  &__row {
    display: flex;
    margin-top: 8px;
    overflow: hidden;

    &--head {
      margin-top: 0;

      @media screen and (max-width: 767px) {
        flex-direction: column;
        position: relative;
        z-index: 1;
      }
    }
  }

  &__row:hover &__cell--time {
    @extend %th--covered;
  }

  &__cell {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 0;
    width: 148px;

    @media screen and (max-width: 1365px) {
      width: 146px;
    }

    @media screen and (max-width: 767px) {
      width: 222px;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &--corner,
    &--day,
    &--time {
      @extend %th;
    }

    &--corner,
    &--time {
      width: 65px;

      @media screen and (max-width: 1365px) {
        position: absolute;
        left: 0;
        width: 62px;
      }

      @media screen and (max-width: 767px) {
        position: static;
        width: 60px;
      }
    }

    &--corner {
      border: none;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &--day {
      &-hovered {
        @extend %th--covered;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: -2px;
        margin-left: 68px;
        width: 173px;

        &-selected {
          order: -1;
        }

        &:not(#{&}-selected):hover {
          background-color: $primary;
          color: white;
          cursor: pointer;
        }
      }
    }

    &--time {
      @media screen and (max-width: 767px) {
        order: -5;
      }
    }

    &--data {
      background-color: #f8f9fc;

      &:hover {
        @extend %cell--hovered;
      }
    }
  }

  &__toggle {
    @extend %th;
  }

  &__toggle {
    color: transparent;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 767px) {
      display: block;
    }

    &::before {
      content: "";
      border-bottom: 2px solid $primary;
      border-left: 2px solid $primary;
      display: block;
      height: 14px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform-origin: left bottom;
      transform: translateY(-5px) rotate(-45deg);
      width: 14px;
    }

    &--hide {
      display: none;
      &::before {
        transform: translateY(-19px) rotate(-225deg);
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__table--header-visible &__row--head {
      overflow: visible;
    }

    &__table--header-visible &__cell--data,
    &__table--header-visible &__cell--time {
      opacity: 0.2;
    }

    &__table--header-visible ~ &__toggle {
      &--show {
        display: none;
      }

      &--hide {
        display: block;
      }
    }
  }

  &__scroll {
    display: none;

    @media screen and (max-width: 1365px) {
      background-color: #feebef;
      display: block;
      height: 4px;
      margin-top: 4px;
      position: relative;

      &::before {
        background-color: #ed0233;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 50%;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
