.img {
  &-lg,
  &-md,
  &-sm {
    line-height: 0;
  }

  &-md,
  &-sm {
    display: none;
  }

  @media screen and (max-width: 1365px) {
    &-lg {
      display: none;
    }

    &-md {
      display: inline-block;
    }
  }

  @media screen and (max-width: 767px) {
    &-md {
      display: none;
    }

    &-sm {
      display: inline-block;
    }
  }
}
