.logo {
  background-position: -83px -5px;
  height: 20px;
  width: 87px;

  @media screen and (max-width: 1365px) {
    background-position: -95px -35px;
    height: 18px;
    width: 80px;
  }

  @media screen and (max-width: 767px) {
    background-position: -73px -5px;
    height: 16px;
    width: 67px;
  }
}
