.section-header {
  color: #102654;

  font-family: "BebasNeue";
  font-size: 49px;
  letter-spacing: 0.03em;
  line-height: 1;

  @media screen and (max-width: 1365px) {
    font-size: 42px;
  }

  @media screen and (max-width: 767px) {
    font-size: 32px;
  }
}
